
/* square buttons */
.rec.rec-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    outline: none;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
    border-radius: 50%;
    background: #63CAFF !important;
}


