span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.skillContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8vw;
}
