.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 50%;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: 45%;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  margin: 1rem;
  border-radius: 10%;
  box-shadow: 0px 3px 6px rgba(6, 255, 255, 0.36);
}

@media only screen and (max-width: 450px) {
  .aboutContainer {
    text-align: center;
  }
  .contentContainer {
    justify-content: center;
  }
  .content {
    width: 100%;
  }
}
